.features {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

    &::before {
      content: url(../../img/features-icon.svg);
      position: absolute;
      bottom: 52px;
      left: 104px;

      @include small-tablet {
        left: auto;
        bottom: -10px;
        right: 100px;
      }

      @include mobile {
        bottom: -40px;
        left: auto;
        right: 40px;
      }
    }

    @include tablet {
      padding-right: max(50px, calc((100% - var(--content-width)) / 2));
      padding-left: max(50px, calc((100% - var(--content-width)) / 2));
    }

    @include small-tablet {
      flex-direction: column;
      padding-right: max(15px, calc((100% - var(--content-width)) / 2));
      padding-left: max(15px, calc((100% - var(--content-width)) / 2));
    }

    @include mobile {
      padding-bottom: 20px;
    }
  }

  &__left {
    position: relative;
    max-width: 470px;

    @include small-tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 40px;
    }

    &::before {
      content: url(../../img/features-icon-2.svg);
      position: absolute;
      bottom: 100px;
      right: 79px;

      @include small-tablet {
        right: 0;
        bottom: 0;
      }
    }

    &-name {
      display: inline-block;
      margin-bottom: 6px;
      font-family: 'PlusJakartaSans';
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: var(--color-text);
    }

    &-title {
      margin: 0;
      margin-bottom: 31px;
      font-weight: 600;
      font-size: 40px;
      line-height: 135%;
      color: var(--color-white);

      @include mobile {
        font-size: 20px;
      }
    }

    &-descr {
      margin: 0;
      margin-bottom: 58px;
      font-family: 'PlusJakartaSans';
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: var(--color-grey);

      @include mobile {
        font-size: 12px;
      }
    }
  }

  &__link {
    position: relative;
    margin-top: auto;

    & span {
      position: relative;
      padding-left: 23px;
      font-family: 'PlusJakartaSans';
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: var(--color-white);
      z-index: 2;
      transition: color .2s ease-in-out;
    }

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: var(--color-dark);
      transition: background-color .2s ease-in-out;
    }

    &.focus-visible {
      &::before {
        background-color: var(--color-orange);
      }
    }

    @include hover {
      &::before {
        background-color: var(--color-orange);
      }
    }

    &:active {
      & span {
        color: var(--color-text);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 29px;
    padding-top: 5px;

    @include mobile {
      display: flex;
      flex-direction: column;
      grid-column-gap: 0;
    }
  }

  &__item {
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__item {
    &:nth-child(1) {
      grid-area: 2 / 1 / 6 / 2;
    }

    &:nth-child(2) {
      grid-area: 1 / 2 / 5 / 3;
    }

    &:nth-child(3) {
      grid-area: 7 / 1 / 11 / 2;
    }

    &:nth-child(4) {
      grid-area: 6 / 2 / 10 / 3;
    }
  }
}
