<section class="about">
  <div class="container about__container">
    <div class="about__left">
      <picture>
        <source srcset="../img/about-image.webp" type="image/webp">
        <img loading="lazy" src="../img/about-image.png" class="about__image" width="330" height="500" alt="projects work">
      </picture>
      <picture>
        <source srcset="../img/about-image-1.webp" type="image/webp">
        <img loading="lazy" src="../img/about-image-1.png" class="about__image-1" width="265" height="470" alt="projects work">
      </picture>
    </div>
    <div class="about__right">
      <div class="about__right-content">
        <span class="about__right-name">about us</span>
        <h2 class="section-title about__right-title">We Are Certified Agency Financial Design</h2>
        <p class="about__right-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        </p>
      </div>
      <div class="about__right-consulting">
        <div class="about__consulting about__consulting-icon">
          <h3 class="about__consulting-title">Acquisitions Finance Consulting</h3>
          <p class="about__consulting-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          </p>
        </div>
        <div class="about__consulting about__consulting-icon2">
          <h3 class="about__consulting-title">Private Placement Consulting</h3>
          <p class="about__consulting-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
