<div class="achievements">
  <div class="container achievements__container">
    <ul class="list-reset achievements__list">
      <li class="achievements__item">
        <span class="achievements__item-count">12K+</span>
        <span class="achievements__item-text achievements__item-text--1">Project Complete</span>
      </li>
      <li class="achievements__item">
        <span class="achievements__item-count">7K+</span>
        <span class="achievements__item-text achievements__item-text--2">Happy Client</span>
      </li>
      <li class="achievements__item">
        <span class="achievements__item-count">10+</span>
        <span class="achievements__item-text achievements__item-text--3">Years Experience</span>
      </li>
      <li class="achievements__item">
        <span class="achievements__item-count">270+</span>
        <span class="achievements__item-text achievements__item-text--4">Win Awards</span>
      </li>
    </ul>
  </div>
</div>
