<section class="busines">
  <div class="container busines__container">
    <ul class="list-reset busines__list">
      <li class="busines__item">
        <a href="#" class="busines-card busines-card-1" aria-label="Super Experience">
          <div class="busines-card__content">
            <span class="busines-card__name">busines, idea</span>
            <h3 class="busines-card__title">Super Experience</h3>
          </div>
        </a>
      </li>
      <li class="busines__item">
        <a href="#" class="busines-card busines-card-2" aria-label="Organic Marketing">
          <div class="busines-card__content">
            <span class="busines-card__name">busines, marketing</span>
            <h3 class="busines-card__title">Organic Marketing</h3>
          </div>
        </a>
      </li>
      <li class="busines__item">
        <a href="#" class="busines-card busines-card-3" aria-label="Business Solution">
          <div class="busines-card__content">
            <span class="busines-card__name">busines, idea</span>
            <h3 class="busines-card__title">Business Solution</h3>
          </div>
        </a>
      </li>
      <li class="busines__item">
        <a href="#" class="busines-card busines-card-4" aria-label="Marketing Analysis">
          <div class="busines-card__content">
            <span class="busines-card__name">busines, agensy</span>
            <h3 class="busines-card__title">Marketing Analysis</h3>
          </div>
        </a>
      </li>
      <li class="busines__item">
        <a href="#" class="busines-card busines-card-5" aria-label="Data and Analytics">
          <div class="busines-card__content">
            <span class="busines-card__name">analutics, idea</span>
            <h3 class="busines-card__title">Data and Analytics</h3>
          </div>
        </a>
      </li>
      <li class="busines__item">
        <a href="#" class="busines-card busines-card-6" aria-label="Website Development">
          <div class="busines-card__content">
            <span class="busines-card__name">agensy, design</span>
            <h3 class="busines-card__title">Website Development</h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
