<section class="features">
  <div class="container features__container">
    <div class="features__left">
      <span class="features__left-name">features</span>
      <h2 class="section-title features__left-title">Giving Your Business Some Great Ideas</h2>
      <p class="features__left-descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam
      </p>
      <a href="#" class="features__link" aria-label="more services"><span>more services</span></a>
    </div>
    <div class="features__right">
      <ul class="list-reset features__list">
        <li class="features__item">
          <article class="card features__card">
            <a href="#" class="card__link" aria-label="Ux experience">
              <picture>
                <source srcset="../img/card-2.webp" type="image/webp">
                <img loading="lazy" src="../img/card-2.png" class="card__image" width="270" height="120" alt="Ux experience">
              </picture>
            </a>
            <h2 class="card__title">UX Experience</h2>
            <p class="card__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </article>
        </li>
        <li class="features__item">
          <article class="card features__card">
            <a href="#" class="card__link" aria-label="Web Development">
              <picture>
                <source srcset="../img/card-2.webp" type="image/webp">
                <img loading="lazy" src="../img/card-2.png" class="card__image" width="270" height="120" alt="Web Development">
              </picture>
            </a>
            <h2 class="card__title">Web Development</h2>
            <p class="card__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </article>
        </li>
        <li class="features__item">
          <article class="card features__card">
            <a href="#" class="card__link" aria-label="Digital Marketing">
              <picture>
                <source srcset="../img/card-2.webp" type="image/webp">
                <img loading="lazy" src="../img/card-2.png" class="card__image" width="270" height="120" alt="Digital Marketing">
              </picture>
            </a>
            <h2 class="card__title">Digital Marketing</h2>
            <p class="card__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </article>
        </li>
        <li class="features__item">
          <article class="card features__card">
            <a href="#" class="card__link" aria-label="Product Design">
              <picture>
                <source srcset="../img/card-2.webp" type="image/webp">
                <img loading="lazy" src="../img/card-2.png" class="card__image" width="270" height="120" alt="Product Design">
              </picture>
            </a>
            <h2 class="card__title">Product Design</h2>
            <p class="card__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
