<section class="partners">
  <div class="partners__container">
    <picture>
      <source srcset="../img/partners-bg.webp" type="image/webp">
      <img loading="lazy" src="../img/partners-bg.png" class="partners__image" width="1440" height="500" alt="partners">
    </picture>
    <div class="partners__content">
      <h3 class="partners__text">OVER 2K+ SOFTWARE BUSINESSE GROWING WITH OUR BUSINESS</h3>
      <ul class="list-reset partners__list">
        <li class="partners__item">
          <a href="#" class="partners__link" aria-label="logotip adidas" target="_blank">
            <svg class="partners__icon">
              <use xlink:href="img/sprite.svg#adidas"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" aria-label="logotip saeta" target="_blank">
            <svg class="partners__icon">
              <use xlink:href="img/sprite.svg#saeta"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" aria-label="logotip macron" target="_blank">
            <svg class="partners__icon">
              <use xlink:href="img/sprite.svg#macron"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" aria-label="logotip nike" target="_blank">
            <svg class="partners__icon">
              <use xlink:href="img/sprite.svg#nike"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" aria-label="logotip coca-cola" target="_blank">
            <svg class="partners__icon">
              <use xlink:href="img/sprite.svg#coca-cola"></use>
            </svg>
          </a>
        </li>
        <li class="partners__item">
          <a href="#" class="partners__link" aria-label="logotip puma" target="_blank">
            <svg class="partners__icon">
              <use xlink:href="img/sprite.svg#puma"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
