<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__slider">
      <div class="swiper testimonials__swiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide testimonials__slide">
            <button class="btn-reset testimonials__slide-btn testimonials__slide-btn--active" data-path="1" aria-label="quot from Robert Smith">
              <picture>
                <source srcset="../img/testimonials-slide-2.webp" type="image/webp">
                <img loading="lazy" src="../img/testimonials-slide-2.png" class="image" width="170" height="200" alt="Robert Smith">
              </picture>
            </button>
            <div class="testimonials__slide-content">
              <span class="testimonials__slide-name">Robert Smith</span>
              <span class="testimonials__slide-info">CEO, Business Co.</span>
            </div>
           </div>
           <div class="swiper-slide testimonials__slide">
            <button class="btn-reset testimonials__slide-btn" data-path="2" aria-label="quot from Jarrod Cremin">
              <picture>
                <source srcset="../img/testimonials-slide-2.webp" type="image/webp">
                <img loading="lazy" src="../img/testimonials-slide-2.png" class="image" width="170" height="200" alt="Jarrod Cremin">
              </picture>
            </button>
            <div class="testimonials__slide-content">
              <span class="testimonials__slide-name">Jarrod Cremin</span>
              <span class="testimonials__slide-info">CEO, Business Co.</span>
            </div>
           </div>
           <div class="swiper-slide testimonials__slide">
            <button class="btn-reset testimonials__slide-btn" data-path="3" aria-label="quot from Sasha Correl">
              <picture>
                <source srcset="../img/testimonials-slide-2.webp" type="image/webp">
                <img loading="lazy" src="../img/testimonials-slide-2.png" class="image" width="170" height="200" alt="Sasha Correl">
              </picture>
            </button>
            <div class="testimonials__slide-content">
              <span class="testimonials__slide-name">Sasha Correl</span>
              <span class="testimonials__slide-info">CEO, Business Co.</span>
            </div>
           </div>
           <div class="swiper-slide testimonials__slide">
            <button class="btn-reset testimonials__slide-btn" data-path="4" aria-label="quot from Robert Smith">
              <picture>
                <source srcset="../img/testimonials-slide-2.webp" type="image/webp">
                <img loading="lazy" src="../img/testimonials-slide-2.png" class="image" width="170" height="200" alt="Robert Smith">
              </picture>
            </button>
            <div class="testimonials__slide-content">
              <span class="testimonials__slide-name">Robert Smith</span>
              <span class="testimonials__slide-info">CEO, Business Co.</span>
            </div>
           </div>
           <div class="swiper-slide testimonials__slide">
            <button class="btn-reset testimonials__slide-btn" data-path="5" aria-label="quot from Jarrod Cremin">
              <picture>
                <source srcset="../img/testimonials-slide-2.webp" type="image/webp">
                <img loading="lazy" src="../img/testimonials-slide-2.png" class="image" width="170" height="200" alt="Jarrod Cremin">
              </picture>
            </button>
            <div class="testimonials__slide-content">
              <span class="testimonials__slide-name">Jarrod Cremin</span>
              <span class="testimonials__slide-info">CEO, Business Co.</span>
            </div>
           </div>
           <div class="swiper-slide testimonials__slide">
            <button class="btn-reset testimonials__slide-btn" data-path="6" aria-label="quot from Sasha Correl">
              <picture>
                <source srcset="../img/testimonials-slide-2.webp" type="image/webp">
                <img loading="lazy" src="../img/testimonials-slide-2.png" class="image" width="170" height="200" alt="Sasha Correl">
              </picture>
            </button>
            <div class="testimonials__slide-content">
              <span class="testimonials__slide-name">Sasha Correl</span>
              <span class="testimonials__slide-info">CEO, Business Co.</span>
            </div>
           </div>
        </div>
      </div>
    </div>


    <div class="testimonials__content">
      <h3 class="testimonials__content-title">Testimonials</h3>
      <p class="testimonials__content-text testimonials__content-text--active" data-target="1"> &quot; But I must explain to you how all this mistaken idea of denouncing pleasure and
        praising pain was born and I will give you a complete account the great explorer of the truth human happiness. &quot;
      </p>
      <p class="testimonials__content-text" data-target="2"> &quot; Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam hic nihil nostrum, corrupti libero!
        Earum dolor odio dolorem, totam adipisci quidem quibusdam, magni minus suscipit aliquid aliquam, illum deleniti? &quot;
      </p>
      <p class="testimonials__content-text" data-target="3"> &quot; But I must explain to you how all this mistaken idea of denouncing pleasure and
        praising pain was born and I will give you a complete account the great explorer of the truth human happiness. &quot;
      </p>
      <p class="testimonials__content-text" data-target="4"> &quot; Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam hic nihil nostrum, corrupti libero!
        Earum dolor odio dolorem, totam adipisci quidem quibusdam, magni minus suscipit aliquid aliquam, illum deleniti? &quot;
      </p>
      <p class="testimonials__content-text" data-target="5"> &quot; But I must explain to you how all this mistaken idea of denouncing pleasure and
        praising pain was born and I will give you a complete account the great explorer of the truth human happiness. &quot;
      </p>
      <p class="testimonials__content-text" data-target="6"> &quot; Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam hic nihil nostrum, corrupti libero!
        Earum dolor odio dolorem, totam adipisci quidem quibusdam, magni minus suscipit aliquid aliquam, illum deleniti? &quot;
      </p>
      <div class="testimonials__btns">
        <button class="btn-reset testimonials__btn testimonials__btn-prev">
          <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 6.18069L1 6.18069" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.15976 1.3608C8.15976 1.3608 12.9998 3.9696 12.9998 6.1792C12.9998 8.3904 8.15976 11 8.15976 11" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button class="btn-reset testimonials__btn testimonials__btn-next">
          <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 6.18069L1 6.18069" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.15976 1.3608C8.15976 1.3608 12.9998 3.9696 12.9998 6.1792C12.9998 8.3904 8.15976 11 8.15976 11" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
