<div class="ticker">
  <div class="ticker__wrapper">
    <div class="ticker__item">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
    <div class="ticker__item">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
    <div class="ticker__item">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
    <div class="ticker__item">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
  </div>
  <div class="ticker__wrapper">
    <div class="ticker__item ticker__item-empty">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
    <div class="ticker__item ticker__item-empty">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
    <div class="ticker__item ticker__item-empty">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
    <div class="ticker__item ticker__item-empty">UI/UX Design_Web Development_Marketing_ SEO Optimization</div>
  </div>
</div>
